.story-container {
  max-width: 100%;
  overflow-x: hidden;
}

.story-navigation {
  width: 100%;
  gap: 8px;
}

.story-card-container {
  max-width: calc(100% - 100px);
}

.story-card {
  width: 100%;
  transition: all 0.3s ease;
}

.navigation-button {
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

.content-container::-webkit-scrollbar {
  width: 6px;
}

.content-container::-webkit-scrollbar-track {
  background: transparent;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 6px;
}

@media (max-width: 640px) {
  .story-card {
    padding: 12px;
  }
  
  
}

@media (min-width: 768px) {
  .story-navigation {
    max-width: 600px;
  }
}

.story-container {
  position: relative;
}

.age-badge {
  font-size: 0.75rem;
  font-weight: 500;
  height: 26px; /* Match the height of the button */
  line-height: 1;
  background-color: var(--primary-color);;
}

.info-button {
  font-size: 0.75rem;
  min-height: unset;
  min-width: unset;
  padding: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .mat-icon {
  font-size: 30px;
  width: 50px; 
  height: 40px; 
  display: flex;
  align-items: center;
  color: var(--primary-color);


}

/* Responsive adjustments */
@media (max-width: 768px) {
  .flex-col-mobile {
    flex-direction: column;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .flex-col-mobile {
    flex-direction: column;
  }
}