@if (storyLength() === 0 && !isLoading()) {
<p class="text-base-content text-center">No story found</p>
} @else if (isLoading()) {
<div class="flex flex-col items-center gap-4">
  <span class="loading loading-dots loading-lg"></span>
  <p class="text-base-content">Loading Story...</p>
</div>
} @else {
<div class="w-full max-w-md mx-auto" tabindex="0">
  <div class="card bg-base-100 shadow-xl">
    <figure class="relative aspect-video">
      @if (currentImage() !== "") {
      <img
        [src]="currentImage()"
        alt="Story image"
        class="w-full h-full object-cover"
        (load)="onImageLoad()"
      />
      } @else {
      <div class="skeleton w-full h-full"></div>
      }
    </figure>
    <div class="flex justify-center mt-4 gap-4">
      @if(isSpeaking() ){
      <p>Speaking...</p>
      <button (click)="stop()"><mat-icon>volume_off</mat-icon></button>

      }@else{
      <p>Speak</p>
      <button (click)="speak()">
        <mat-icon>volume_up</mat-icon>
      </button>

      }
    </div>
    <div class="card-body items-center text-center py-2">
      <p class="text-base-content">{{ currentStoryPart().content }}</p>
      <div class="card-actions justify-between w-full items-center">
        <button
          class="btn btn-circle btn-outline btn-sm btn-primary"
          (click)="prevCard()"
          [disabled]="currentIndex() === 0"
        >
          ❮
        </button>
        <span
          class="badge badge-outline badge-secondary"
          matTooltip="Page {{ currentIndex() + 1 }} of {{ storyLength() }}"
          matTooltipPosition="below"
        >
          {{ currentIndex() + 1 }} / {{ storyLength() }}
        </span>
        <button
          class="btn btn-circle btn-outline btn-sm btn-primary"
          (click)="nextCard()"
          [disabled]="currentIndex() === storyLength() - 1"
        >
          ❯
        </button>
      </div>
    </div>
  </div>
</div>
}
