<div
  class="flex flex-col md:flex-row items-center gap-24 justify-center py-12 p-6 bg-white"
>
  <div class="max-w-xl mb-8 md:mb-0 md:w-1/4 w-full">
    <h1 class="text-3xl md:text-4xl font-bold mb-4">
      Create Magical Stories for Your Child Using AI
    </h1>
    <p class="text-gray-600 mb-6">
      Transform your child's imagination into personalized storybooks in minutes
    </p>
    <div class="flex space-x-4">
      <a
        href="story"
        class="bg-[var(--primary-color)] hover:bg-[var(--primary-color)]/70 text-white font-semibold py-2 px-6 rounded shadow"
      >
        Start Creating
      </a>
    </div>
  </div>
  <div class="md:w-1/4 w-full flex justify-center">
    <img
      src="hero-image.jpg"
      alt="Children playing with blocks"
      class="rounded-xl shadow-lg object-cover w-full max-w-md h-64 md:h-80"
    />
  </div>
</div>
