<div class="hero bg-base-100 py-4">
  <div
    class="hero-content flex-col lg:flex-row-reverse flex md:flex-row items-center gap-24 justify-center py-12 p-4"
  >
    <img src="hero-image.png" class="max-w-[22rem] rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">
        Create Magical Stories for Your Child Using AI
      </h1>
      <p class="py-6">
        Transform your child's imagination into personalized storybooks in
        minutes
      </p>
      <a routerLink="story" class="btn btn-primary">Create Your Story</a>
    </div>
  </div>
</div>
