<div class="flex items-center justify-center p-4 container mx-auto max-w-4xl">
  <div class="card sm:w-3/4 w-full shadow-xl bg-base-200">
    <div class="card-body">
      @if (formState() === 'initial') {
      <h2 class="card-title text-base-content text-xl">
        Tell me what the story is about
      </h2>
      <textarea
        class="textarea textarea-bordered textarea-primary text-lg w-full placeholder:text-slate-400"
        rows="5"
        [(ngModel)]="initialStoryPrompt"
        placeholder="e.g., A story about a brave little knight who is afraid of the dark and learns to overcome his fear with the help of a friendly dragon."
      ></textarea>
      <div class="card-actions justify-end mt-6">
        <button
          class="btn btn-primary w-48"
          (click)="generateBlueprint()"
          [disabled]="loading() || !initialStoryPrompt()"
        >
          @if(loading()) {
          <span class="loading loading-spinner"></span>
          Generating Ideas... }@else { Generate Story Ideas }
        </button>
      </div>
      } @else if (formState() === 'blueprint' && blueprintAnswers()) {
      <h2 class="card-title text-base-content text-xl">
        Here's a plan for the story.
      </h2>
      <p class="text-base-content mb-4">
        Review the details below. You can either generate the story directly or
        customize the details further.
      </p>
      <ul class="menu bg-base-100 rounded-box shadow-md w-full gap-2 text-base">
        @for (question of STORY_QUESTIONS; track question.id) {
        <li>
          <div class="flex justify-between p-2">
            <span class="font-semibold">{{ question.question }}</span>
            <span class="text-right"
              >{{ blueprintAnswers()![question.question.trim()] }}</span
            >
          </div>
        </li>
        }
      </ul>
      <div class="card-actions justify-between items-center mt-6">
        <button class="btn btn-ghost" (click)="startOver()">Start Over</button>
        <div>
          <button class="btn btn-secondary mr-2" (click)="customize()">
            Customize
          </button>
          <button
            class="btn btn-primary"
            (click)="confirmAndGenerate()"
            [disabled]="loading()"
          >
            @if(loading()) {
            <span class="loading loading-spinner"></span>
            Generating... }@else { Confirm & Generate }
          </button>
        </div>
      </div>
      } @else if (formState() === 'customizing') {
      <h2 class="card-title text-base-content text-xl">
        {{ currentQuestion().question }}
      </h2>
      <form [formGroup]="answerToQuestions">
        @if (currentQuestion().isMcq) {
        <ul class="menu bg-base-100 rounded-box shadow-md w-full gap-4 text-lg">
          @for (opt of currentQuestion().options; track opt) {
          <li>
            <label
              class="label cursor-pointer flex items-center justify-between"
            >
              <span class="label-text text-base-content">{{ opt }}</span>
              <input
                type="radio"
                class="radio radio-primary"
                [formControlName]="currentQuestion().question"
                [value]="opt"
                [attr.name]="'question_' + index()"
              />
            </label>
          </li>
          }
        </ul>
        } @else {
        <textarea
          class="textarea textarea-bordered textarea-primary text-lg w-full placeholder:text-slate-400"
          rows="5"
          [formControlName]="currentQuestion().question"
          placeholder="{{ currentQuestion().placeholder }}"
          [attr.id]="'textarea_' + currentQuestion().id"
          [value]="answerToQuestions.get(currentQuestion().question)?.value"
        ></textarea>
        } @if(currentQuestion().hint) {
        <p class="text-sm text-base-content mt-2 flex gap-4 items-center">
          <mat-icon class="w-8!">{{ currentQuestion().hintIcon }}</mat-icon>
          <span>{{ currentQuestion().hint }}</span>
        </p>
        }

        <div class="card-actions justify-between items-center mt-6">
          @if(index() > 0) {
          <button
            class="btn btn-neutral w-36"
            (click)="goToPrev()"
            [disabled]="loading()"
          >
            Previous
          </button>
          } @else {
          <div class="w-36"></div>
          } @if(index() === lengthOfQuestions - 1) {
          <div>
            <button
              class="btn btn-primary w-36"
              (click)="submitAnswers()"
              [disabled]="loading() || limitReached() || (answerToQuestions.touched && !answerToQuestions.valid)"
            >
              @if(loading()) {
              <span class="loading loading-spinner"></span>
              Generating... } @else { Generate }
            </button>
          </div>
          } @else {
          <button
            class="btn btn-primary w-36"
            (click)="goToNext()"
            [disabled]="loading()"
          >
            Next
          </button>
          } @if(answerToQuestions.touched && !answerToQuestions.valid){
          <p class="text-center mt-2">
            All fields must be filled before generating a story
          </p>
          }
        </div>
      </form>
      }
    </div>
    @if(loading()) {
    <div class="text-center p-4">
      <p class="text-lg">This may take a while. Please wait...</p>
    </div>
    } @if(limitReached()) {
    <div class="text-center p-4">
      <p
        class="text-error text-sm cursor-pointer"
        (click)="togglePasswordInput()"
      >
        You have reached the generation limit for this device.
      </p>
      @if(showPasswordInput()) {
      <div class="form-control mt-8 flex items-center gap-2 justify-center">
        <input
          type="password"
          placeholder="Enter password"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="password"
          (keyup.enter)="submitPassword()"
        />
        <button class="btn btn-primary" (click)="submitPassword()">
          Unlock
        </button>
      </div>
      }
    </div>
    }
  </div>
</div>
