<div class="flex items-center justify-center p-4 container mx-auto max-w-4xl">
  <div class="card sm:w-3/4 w-full shadow-xl bg-base-200">
    <div class="card-body">
      <h2 class="card-title text-base-content text-xl">
        {{currentQuestion().question}}
      </h2>

      @if (currentQuestion().isMcq) {
      <ul class="menu bg-base-100 rounded-box shadow-md w-full gap-4 text-lg">
        @for (opt of currentQuestion().options; track opt) {
        <li>
          <label class="label cursor-pointer flex items-center justify-between">
            <span class="label-text text-base-content">{{ opt }}</span>
            <input
              type="radio"
              name="answer"
              class="radio radio-primary"
              [value]="opt"
              [(ngModel)]="selectedAnswer"
            />
          </label>
        </li>
        }
      </ul>
      } @else {
      <textarea
        class="textarea textarea-bordered textarea-primary text-lg w-full placeholder:text-slate-400"
        rows="5"
        [(ngModel)]="selectedAnswer"
        placeholder="{{currentQuestion().placeholder}}"
      ></textarea>
      } @if(currentQuestion().hint) {
      <p class="text-sm text-base-content mt-2 flex gap-4 items-center">
        <mat-icon class="w-8!">{{currentQuestion().hintIcon}}</mat-icon>
        <span>{{currentQuestion().hint}}</span>
      </p>
      }

      <div class="card-actions justify-between items-center mt-6">
        @if(index() > 0) {
        <button
          class="btn btn-neutral w-36"
          (click)="goToPrev()"
          [disabled]="loading()"
        >
          Previous
        </button>
        } @else {
        <!-- Placeholder to keep alignment -->
        <div class="w-36"></div>
        } @if(index() === lengthOfQuestions - 1) {
        <button
          class="btn btn-primary w-36"
          (click)="submitAnswers()"
          [disabled]="loading()"
        >
          @if(loading()) {
          <span class="loading loading-spinner"></span>
          Generating... } @else { Generate }
        </button>
        } @else {
        <button
          class="btn btn-primary w-36"
          (click)="goToNext()"
          [disabled]="loading()"
        >
          Next
        </button>
        }
      </div>
    </div>
    @if(loading()) {
    <p class="p-4 text-center">
      Generating images can take some time. Please wait...
    </p>
    }
  </div>
</div>
