/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui" {
  themes: dracula --default;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body,
app-root {
  height: 100%;
}
app-root {
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: "Manrope", "Andika Segoe UI", "Comic Neue", "Tahoma", "Geneva",
    "Verdana", sans-serif;
}